@import 'ant-design-vue/dist/antd.dark.css';

$light-square-color: #f0d9b5;
$dark-square-color: #b58863;
$light-square-active-color: #f7ec59;
$dark-square-active-color: #dac431;
$square-active-border-color: #fff;

.flip {
  transform-origin: center center;
  transform: rotate(180deg) translateY(-600px);
}

.flip-piece {
  transform-origin: center center;
  transform: rotate(180deg);
}

#chessboard {
  width: 600px;
  height: 600px;
  user-select: none;
}

.row {
  .square:nth-of-type(even) {
    background-color: $dark-square-color;

    .rankLabel, .fileLabel {
      color: $light-square-color;
    }
  }

  .square:nth-of-type(odd) {
    background-color: $light-square-color;

    .rankLabel, .fileLabel {
      color: $dark-square-color;
    }
  }

  .highlight:nth-of-type(even) {
    background-color: $dark-square-active-color !important;
  }

  .highlight:nth-of-type(odd) {
    background-color: $light-square-active-color !important;
  }
}

.row:nth-of-type(even) {
  .square:nth-of-type(even) {
    background-color: $light-square-color;

    .rankLabel, .fileLabel {
      color: $dark-square-color;
    }
  }

  .square:nth-of-type(odd) {
    background-color: $dark-square-color;

    .rankLabel, .fileLabel {
      color: $light-square-color;
    }
  }
  
  .highlight:nth-of-type(even) {
    background-color: $light-square-active-color !important;
  }

  .highlight:nth-of-type(odd) {
    background-color: $dark-square-active-color !important;
  }
}

.active {
  border: $square-active-border-color solid 4px;
  position: absolute;
  width: 75px;
  height: 75px;
  opacity: 0.6;
}

.square, .piece {
  width: 75px;
  height: 75px;
}

.square {
  position: relative;
  padding: 0;
  float: left;
}

.square .red  {
  background-color: rgb(235, 97, 80) !important;
  opacity: 0.8;
  position: absolute;
  width: 75px;
  height: 75px;
}

#chessboard .arrows {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

.arrow {
  fill: rgba(255, 170, 0, 0.8);
  opacity: 0.8;
}

.piece {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  z-index: 3;
}

.dragging {
  z-index: 5;
  cursor: grab !important;
}

.move {
  border-radius: 50%;
  behavior: url(PIE.htc);
  width: 25px;
  height: 25px;
  background: black;
  opacity: 0.1;
  margin: 0 auto;
  margin-top: 25px;
}

.capture {
  position: absolute;
  z-index: 2;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border-style: solid;
  border-width: 7px;
  line-height: 50px;
  border-color: black;
  padding: 10px 18px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.1;
  left: 5px;
  top: 5px;
}

/*White pieces begin*/

.wr {
  background-image: url('./img/pieces/wr.png');
}

.wb {
  background-image: url('./img/pieces/wb.png');
}

.wn {
  background-image: url('./img/pieces/wn.png');
}

.wk {
  background-image: url('./img/pieces/wk.png');
}

.wq {
  background-image: url('./img/pieces/wq.png');
}

.wp {
  background-image: url('./img/pieces/wp.png');
}

/*White pieces end*/


/*Black pieces begin*/

.br {
  background-image: url('./img/pieces/br.png');
}

.bb {
  background-image: url('./img/pieces/bb.png');
}

.bn {
  background-image: url('./img/pieces/bn.png');
}

.bk {
  background-image: url('./img/pieces/bk.png');
}

.bq {
  background-image: url('./img/pieces/bq.png');
}

.bp {
  background-image: url('./img/pieces/bp.png');
}

/*Black pieces end*/

.fileLabel, .rankLabel {
  position: absolute;
  z-index: 1;
}

.fileLabel {
  bottom: 0;
  right: 6px;
}

.rankLabel {
  top: 0;
  left: 6px;
}

#eval {
  transform: rotate(90deg);
  transform-origin: left center;
  width: 550px;
  margin-left: 7px;
  div {
    border-radius: 0; /* Squared shape of eval bar */
  }
}

#movelist {
  height: 240px;
  overflow: auto;
}

#pgn {
  height: 190px;
  margin-bottom: 15px;
}