@import 'ant-design-vue/dist/antd.dark.css';

@font-face {
  font-family: "Chess";
  src: url("./fonts/chessGlyphRegular.woff2") format("woff2");
}

/* ==========================================================================
   Chessboard
   ========================================================================== */

/* Variables
   ========================================================================== */

$light-square-color: #f0d9b5;
$dark-square-color: #b58863;
$light-square-active-color: #f7ec59;
$dark-square-active-color: #dac431;
$square-active-border-color: #fff;
$white-eval-color: #fff;
$black-eval-color: #403d39;
$highlight-color-orange: rgba(255, 170, 0, 0.8);
$highlight-color-red: rgba(248, 85, 63, 0.8);
$highlight-color-green: rgba(159, 207, 63, 0.8);
$highlight-color-blue: rgba(72, 193, 249, 0.8);

#chessboardContainer {
  #evalContainer {
    float: left;
    width: 20px;
    height: 100%;

    span {
      position: absolute;
      width: 20px;
      text-align: center;
      font-size: 0.7em;
    }

    #evalWhite {
      bottom: 4px;
      color: black;
    }

    #evalBlack {
      color: white;
    }

    #eval {
      width: 100%;
      background-color: $white-eval-color;

      #bar {
        width: 100%;
        background-color: $black-eval-color;
        transition: height 0.5s ease-in-out;
      }
    }
  }

  #chessboard {
    float: left;
    margin-left: 10px;
    user-select: none;
  }

  #sidebar {
    float: left;
    margin-left: 5px;

    #hiddenButtons {
      display: flex;
      height: calc(100% - 28px);
      margin-top: 5px;
      flex-flow: column wrap;
      justify-content: space-between;
      visibility: hidden;
    }

    &:hover #hiddenButtons {
      visibility: visible;
    }
  }

  #sidebar:hover #content {
    visibility: visible;
  }

  #arrows {
    position: absolute;
    pointer-events: none;
    z-index: 4;

    .arrow {
      opacity: 0.8;
    }

    .orange {
      fill: $highlight-color-orange;
    }

    .red {
      fill: $highlight-color-red;
    }

    .green {
      fill: $highlight-color-green;
    }

    .blue {
      fill: $highlight-color-blue;
    }
  }
}

.row {
  .square:nth-of-type(even) {
    background-color: $dark-square-color;

    .rankLabel, .fileLabel {
      color: $light-square-color;
    }
  }

  .square:nth-of-type(odd) {
    background-color: $light-square-color;

    .rankLabel, .fileLabel {
      color: $dark-square-color;
    }
  }

  .highlight:nth-of-type(even) {
    background-color: $dark-square-active-color;
  }

  .highlight:nth-of-type(odd) {
    background-color: $light-square-active-color;
  }
}

.row:nth-of-type(even) {
  .square:nth-of-type(even) {
    background-color: $light-square-color;

    .rankLabel, .fileLabel {
      color: $dark-square-color;
    }
  }

  .square:nth-of-type(odd) {
    background-color: $dark-square-color;

    .rankLabel, .fileLabel {
      color: $light-square-color;
    }
  }
  
  .highlight:nth-of-type(even) {
    background-color: $light-square-active-color;
  }

  .highlight:nth-of-type(odd) {
    background-color: $dark-square-active-color;
  }
}

.active {
  border: $square-active-border-color solid 4px;
  position: absolute;
  opacity: 0.6;
}

.piece {
  width: inherit;
  height: inherit;
}

.square {
  position: relative;
  padding: 0;
  float: left;

  .highlight {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0.8;
  }

  .orange {
    background-color: $highlight-color-red !important;
  }

  .red {
    background-color: $highlight-color-orange !important;
  }

  .green {
    background-color: $highlight-color-green !important;
  }

  .blue {
    background-color: $highlight-color-blue !important;
  }
}

.piece {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  z-index: 3;
}

.dragging {
  z-index: 5;
  cursor: grab !important;
}

.move {
  border-radius: 50%;
  behavior: url(PIE.htc);
  width: 35%;
  height: 35%;
  background: black;
  opacity: 0.1;
  margin: 0 auto;
  margin-top: 35%;
}

.capture {
  position: absolute;
  z-index: 2;
  width: 87%;
  height: 87%;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.6em;
  border-color: black;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.1;
  left: 0.37em;
  top: 0.37em;
}

/* White pieces
   ========================================================================== */

.wr {
  background-image: url('./img/pieces/wr.png');
}

.wb {
  background-image: url('./img/pieces/wb.png');
}

.wn {
  background-image: url('./img/pieces/wn.png');
}

.wk {
  background-image: url('./img/pieces/wk.png');
}

.wq {
  background-image: url('./img/pieces/wq.png');
}

.wp {
  background-image: url('./img/pieces/wp.png');
}


/* Black pieces
   ========================================================================== */

.br {
  background-image: url('./img/pieces/br.png');
}

.bb {
  background-image: url('./img/pieces/bb.png');
}

.bn {
  background-image: url('./img/pieces/bn.png');
}

.bk {
  background-image: url('./img/pieces/bk.png');
}

.bq {
  background-image: url('./img/pieces/bq.png');
}

.bp {
  background-image: url('./img/pieces/bp.png');
}

/* Labels
   ========================================================================== */

#labels {
  top: 0;
  left: 30px;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  z-index: 5;
  font-weight: 700;

  #files {
    position: absolute;
    bottom: 0;
    left: 0;
     
    div {
      position: absolute;
      bottom: 0;
      float: left;
      text-align: right;
      color: $light-square-color;
      padding-right: 0.3em;
    }

    div:nth-of-type(even) {
      color: $dark-square-color;
    }
  }

  #ranks {
    position: absolute;
    top: 0;
    left: 0;

    div {
      color: $dark-square-color;
      padding-left: 0.3em;
    }

    div:nth-of-type(even) {
      color: $light-square-color;
    }
  }
}

.exportImportTabPane {
  height: 200px;
}

.endRow {
  clear: both;
}

#pgn {
  height: 100%;
  margin-bottom: 15px;
}

/* Chess fonts
   ========================================================================== */

.chessFont {
  font-family: "Chess";
  font-size: 1.5rem;
  line-height: 50%;
}

.chessFont.f-nb:before {
  content: "Ė";
}

.chessFont.f-nw:before {
  content: "Ç";
}

.chessFont.f-bb:before {
  content: "Ä";
}

.chessFont.f-bw:before {
  content: "Ă";
}

.chessFont.f-qb:before {
  content: "Ķ";
}

.chessFont.f-qw:before {
  content: "Į";
}

.chessFont.f-kb:before {
  content: "Ą";
}

.chessFont.f-kw:before {
  content: "Ā";
}

.chessFont.f-rb:before {
  content: "Ļ";
}

.chessFont.f-rw:before {
  content: "Ľ";
}

.moveButton {
  padding: 1px 1px;
  margin-left: 1px;
}

.moveNumber {
  color: gray;
  padding-left: 8px;
}

.variationLabel {
  font-size: 0.7rem;
  font-weight: bold;
}
